# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Refresh Holiday

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
    - run: |
        pip install -r requirements.pip && python updater/updater.py && python presenter/presenter.py

    - uses: stefanzweifel/git-auto-commit-action@v5
      id: auto-commit-action #mandatory for the output to show up in ${{ steps }}
      with:
        commit_message: "Auto update holiday data"
